## Week 5: openpyxl
Assignment Content

You get an Excel spreadsheet that has two worksheets, "patient info" and "records"​
<ol>
<li>Each worksheet has data and visualizations and formulas</li>
<li>Each row in each worksheet represents information associated with a single person.. ​</li>
<li>Worksheet "patient info" has a "patient id" column; ​</li>
<li>Worksheet "records" has a "p_id" column​</li>
<li>The "patient id" values in "patient info" tab are the same variable as "p_id" in "records". Some people have information on both sheets, while other people have information only on one sheet
Use openpyxl to copy information about patients from "records" to "patient info"​. Submit a notebook that reads the Excel spreadsheet and produces a separate Excel file with the following modifications:​</li>

<li>For each patient identified by "p_id" listed in the "records" sheet that don't exist in "patient info," create a new row in "patient info". The row from "records" should be copied to the row in "patient info."</li>
<li>For each patient listed in the "records" sheet where "p_id" appears "patient info" under "patient id," copy the data in the row from records to "patient info" sheet</li>
<li>Make no changes to the visualizations that exist in each worksheet​</li>
<li>Make no changes to the data in the "records"​ sheet</li>
<li>Write your changes to a new .xlsx file (don't overwrite the original)​ ​</li>
    </ol>
<b>Observations:​</b>

<li>"patient info" worksheet will have new columns (because those new columns exist in the "records" worksheet)​</li>
<li>"patient info" worksheet will have new rows (one new row per patient)​</li>
<li>There will be empty cells in "patient info" worksheet​</li>
<li>Use a programmatic (rather than manual) approach to identify which patients appear in both worksheets​</li>
<li>Some cells in both worksheets contain formulas. Copy only values from "records" to "patient info"​</li>

When you are done with the assignment or have spent an hour on the homework (whichever comes first), please send me an email indicating which of these you have reached​ ​

To: jhwan@umbc.edu​

Subject: Data 601 Fall 2020 Week 5: openpyxl

Examples of content: "I have spent 1 hour on the homework" or "I am done with the assignment in 20 minutes."​

If you've not completed the homework, please specify what your status is.​

In [2]:
import openpyxl 
import pandas as pd

In [3]:
#week_05_homework_XLSX_openpyxl
wb = openpyxl.load_workbook('week_05_homework_XLSX_openpyxl.xlsx')

sheet_name = []
#storing sheet names in a list so I can later call them using index numbers
sheet_name = wb.sheetnames

#calling sheet names by index
print(sheet_name[1])

#printing all sheets
print("Sheets names in the week_05_homework_XLSX_openpyxl.xlsx : ",sheet_name)

records
Sheets names in the week_05_homework_XLSX_openpyxl.xlsx :  ['patient info', 'records']

## Storing <i>Patient_info</i> in DataFrame

In [4]:
sheet = wb[sheet_name[0]] # calling PATIENT_INFO

#storing records in dataframe
data1 = sheet.values

# Get the first line in file as a header line
columns = next(data1)[0:]

# Create a DataFrame based on the second and subsequent lines of data
df1 = pd.DataFrame(data1, columns=columns)

#df = pd.DataFrame(sheet.values)
df1

     patient id  age  smoking  smart  asdf  min im
0         28859   25        1    109    25   40.00
1         32820   48        1    112    29   47.50
2         32897   46        0    124    25   48.75
3         54826   49        1     76    38   41.00
4         57378   57        1    137    36   57.75
..          ...  ...      ...    ...   ...     ...
767       69916   78        0     99    39   54.00
768       71343   34        0    137    27   49.50
769       73529   68        0     74    39   45.25
770       75095   62        1     73    33   42.25
771       76366   43        0     60    37   35.00

[772 rows x 6 columns]

## Storing <i>  Records </i> in DataFrame

In [5]:
sheet = wb[sheet_name[1]] # calling records
#storing records in dataframe
data2 = sheet.values
 # Get the first line in file as a header line
columns = next(data2)[0:]
# Create a DataFrame based on the second and subsequent lines of data
df2 = pd.DataFrame(data2, columns=columns)
#df = pd.DataFrame(sheet.values)
df2

,p_id,nam,kf,ave,mginasdf,imim,ifasdm,ignghasdf,ignghim,iimghhai,...,aifaignaghgjaga,miadgfadnaa,agaogsf,avavag,agavcagaad,mdifa asdfi asf,sfaisf g adfa,mg adfa gasf a,fads adsfas,dfmga
0,45186,qiuecr,33,11,qbyekt,2,38,1022,527,fokyjc,...,98,0.113047,0.442579,kvuydu,0.504722,0.612495,0.275035,0.116697,0.661027,135
1,54257,jahnuf,74,11,pitpiy,1,28,1028,184,lykduc,...,107,0.734720,0.008616,yhnxac,0.435496,0.392883,0.795665,0.505723,0.000247,174
2,86960,scrffw,28,10,ncyeyq,2,37,1024,1087,rfeobz,...,210,0.242925,0.895781,lchzux,0.589458,0.344104,0.104604,0.347974,0.338182,60
3,38965,rmxksw,98,11,ffqedp,1,19,1005,957,zjsjup,...,103,0.143863,0.991214,wsghni,0.153842,0.353898,0.246882,0.777188,0.773037,27
4,66614,zvyicl,48,10,drmaxo,2,14,1018,969,cksvjw,...,70,0.823156,0.406428,mgcfgj,0.270382,0.428908,0.231510,0.631235,0.692844,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,83071,xvmaoh,86,9,yevpmr,1,16,1010,222,rqsiup,...,215,0.866245,0.050796,svnedm,0.058985,0.514319,0.787371,0.453244,0.262793,200
1196,23735,slrxoi,22,9,gyoqsk,1,36,1008,995,bhrrvg,...,109,0.788453,0.813866,xtlywm,0.372760,0.158463,0.286107,0.472504,0.368032,36
1197,11338,maripf,92,10,mwfthr,1,30,1031,72,hnjaff,...,65,0.444706,0.598433,dafcvx,0.317029,0.479107,0.785905,0.858837,0.044693,219
1198,27315,pdbjgp,45,11,jekbbu,2,36,1032,148,hbqzjw,...,48,0.042877,0.938969,haeapj,0.774384,0.154361,0.789817,0.092309,0.972039,229
1199,72787,npscwt,76,11,lmdmmm,1,9,1001,331,vpycbv,...,161,0.898994,0.441909,jqcysj,0.142884,0.175055,0.860159,0.543864,0.018342,183

Here we will perform a right join as :
<li>For each patient identified by "p_id" listed in the "records" sheet that  <b>don't</b> exist in "patient info," create a new row in "patient info". The row from "records" should be copied to the row in "patient info."</li>
<li>For each patient listed in the "records" sheet where "p_id" <b>appears</b> "patient info" under "patient id," copy the data in the row from records to "patient info" sheet</li>

In [27]:
#Merging the Dataframes on P_id and patient_info 
df_merge = pd.merge(df1, df2, how='right', left_on = 'patient id', right_on = 'p_id')

# droping p_id
df_mergedf = df_merge.drop(['p_id'], axis = 1)


#exporting to new .xlsx file called new.xlsx. Without the the first index column.
df_mergedf.to_excel('new.xlsx', index=False , sheet_name= 'new patient info')

In [24]:
df_merge

,patient id,age,smoking,smart,asdf,min im,p_id,nam,kf,ave,...,aifaignaghgjaga,miadgfadnaa,agaogsf,avavag,agavcagaad,mdifa asdfi asf,sfaisf g adfa,mg adfa gasf a,fads adsfas,dfmga
0,NaN,NaN,NaN,NaN,NaN,NaN,45186,qiuecr,33,11,...,98,0.113047,0.442579,kvuydu,0.504722,0.612495,0.275035,0.116697,0.661027,135
1,54257.0,44.0,0.0,72.0,37.0,38.25,54257,jahnuf,74,11,...,107,0.734720,0.008616,yhnxac,0.435496,0.392883,0.795665,0.505723,0.000247,174
2,NaN,NaN,NaN,NaN,NaN,NaN,86960,scrffw,28,10,...,210,0.242925,0.895781,lchzux,0.589458,0.344104,0.104604,0.347974,0.338182,60
3,NaN,NaN,NaN,NaN,NaN,NaN,38965,rmxksw,98,11,...,103,0.143863,0.991214,wsghni,0.153842,0.353898,0.246882,0.777188,0.773037,27
4,NaN,NaN,NaN,NaN,NaN,NaN,66614,zvyicl,48,10,...,70,0.823156,0.406428,mgcfgj,0.270382,0.428908,0.231510,0.631235,0.692844,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,83071.0,63.0,0.0,125.0,28.0,54.00,83071,xvmaoh,86,9,...,215,0.866245,0.050796,svnedm,0.058985,0.514319,0.787371,0.453244,0.262793,200
1203,23735.0,59.0,1.0,111.0,37.0,52.00,23735,slrxoi,22,9,...,109,0.788453,0.813866,xtlywm,0.372760,0.158463,0.286107,0.472504,0.368032,36
1204,NaN,NaN,NaN,NaN,NaN,NaN,11338,maripf,92,10,...,65,0.444706,0.598433,dafcvx,0.317029,0.479107,0.785905,0.858837,0.044693,219
1205,27315.0,59.0,1.0,93.0,20.0,43.25,27315,pdbjgp,45,11,...,48,0.042877,0.938969,haeapj,0.774384,0.154361,0.789817,0.092309,0.972039,229
1206,NaN,NaN,NaN,NaN,NaN,NaN,72787,npscwt,76,11,...,161,0.898994,0.441909,jqcysj,0.142884,0.175055,0.860159,0.543864,0.018342,183

In [26]:
#trying something 
1200 -418 # new in records

782